NEXT_PUBLIC_SUPABASE_URL=https://pxotrpizhqvvvebjnoxs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4b3RycGl6aHF2dnZlYmpub3hzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNzk0ODgsImV4cCI6MjEwNTg1NTQ4OH0.USN8yX6wwhabayIi5860VCnX4hDoPI3O24ufrR6bxAU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4b3RycGl6aHF2dnZlYmpub3hzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDI3OTQ4OCwiZXhwIjoyMTA1ODU1NDg4fQ.SfyY7YSGwWwcz1jk1CIhZdCbfGiWpnxkML_iWK6pew4
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=sk_test_fc9e72060ed17b331ea57e5d28f70d16bd8de403
